/* All Browsers */
header, #content, footer {
  padding-left: 2em;
  padding-right: 2em;
  display: block;
}

header {
  background-color: #870804;
  border-bottom: 2px solid #777;
  margin-bottom: 1.375em;
  padding-top: 0.75em;
}

  header, header h1, header h1 a, header h1 a:visited { color: #ccc; }

h1, h2, h1 a, h1 a:visited, h2 a, h2 a:visited { color: #870804; }

a { color: #870804; text-decoration: none; }
a:hover, a:active, a:focus { text-decoration: underline; }

article hgroup h1, article hgroup h2 { display: inline; }
article hgroup h1 + h2:before { content: ':: '; }

blockquote {
  padding-left: 2em;
  padding-right: 2em;
}

.implementations li {
  margin-left: 2em;
  margin-right: 2em;
  list-style: disc outside url('/images/silk/bullet_red.png');
  list-style-type: ;
}

.bug {
  padding-left: 20px;
  background: url('/images/silk/bug.png') no-repeat center left;
}

.github {
  padding-left: 24px;
  background: url('/images/octocat.png') no-repeat center left;
}

ol li {
  list-style-type: decimal;
  margin-left: 2em;
}

#content ol + p {
  margin-top: 1.5em;
}

#content ul li {
  list-style-type: disc;
  margin-top: 1.5em;
}

#content .implementations li {
  margin-top: 0;
}

pre {
  background-color: #eee;
  border: 1px solid #aaa;
  overflow: auto;
  padding: 0.719em;
}

footer {
  border-top: 2px solid #777;
  margin-top: 1.15em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

  footer span + span:before { content: '| '; }


/* iPhone */
@media screen and (max-device-width: 480px){

  header, #content, footer {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  header > h1 {
    padding-left: 0.3em;
    padding-right: 0.3em;
  }

  #content > *, footer > * {
    padding-left: 0.6em;
    padding-right: 0.6em;
  }

  #content > h2, #content > lh {
    padding-left: 0.4em;
    padding-right: 0.4em;
  }

  footer span { display: block; }
  footer span + span { border-top: 1px solid #aaa; margin-top: -1px; }
  footer span + span:before { content: ''; }

} /* end iPhone */



/* iPad Portrait */
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {

} /* end iPad Portrait */



/* iPad Landscape */
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {

} /* end iPad Landscape */
