<!DOCTYPE html>
<html xml:lang="en-us" lang="en-us">
  <head>
    <title>&real;uby &image;nterfaces &ndash; {{ page.title }}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="all" href="http://yui.yahooapis.com/3.1.1/build/cssreset/reset-min.css">
    <link rel="stylesheet" type="text/css" media="all" href="{{ site.root_url }}/stylesheets/typography.css">
    <link rel="stylesheet" type="text/css" media="screen,handheld,projection" href="{{ site.root_url }}/stylesheets/screen.css" >
    <link rel="stylesheet" type="text/css" media="all and (max-device-width: 480px)" href="{{ site.root_url }}/stylesheets/iphone.css">
    <link rel="stylesheet" type="text/css" media="all and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" href="{{ site.root_url }}/stylesheets/ipad.portrait.css">
    <link rel="stylesheet" type="text/css" media="all and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" href="{{ site.root_url }}/stylesheets/ipad.landscape.css">
    <link rel="stylesheet" type="text/css" media="print" href="{{ site.root_url }}/stylesheets/print.css" >
  </head>
  <body>
    <header>
      <h1><a href="/" title="Ruby Interfaces - Home">&real;uby &image;nterfaces</a></h1>
    </header>
    {{ content }}
    <footer>
      &copy; James A. Rosen, 2010 &ndash;
      <a href="http://github.com/jamesarosen/ruby_interfaces" title="James A. Rosen's Ruby Interfaces on GitHub">Source</a> &ndash;
      <a href="http://github.com/jamesarosen/ruby_interfaces/issues" title="Issues">Issues</a>
    </footer>
  </body>
</html>