---
layout: default
---
<article>
  <hgroup>
    <h1><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
    <h2>{{ page.interface.purpose }}</h2>
    {% if page.interface.gem %}
    <img src='/images/silk/ruby.png' title='Available as a Ruby Gem' />
    {% endif %}
    {% if page.interface.home %}
    <a href="{{ page.interface.home }}" title="{{ page.title }} Home Page"><img src="/images/silk/house.png" title="{{ page.title }} Home Page" /></a>
    {% endif %}
  </hgroup>
  <blockquote class='description'>
    {{ page.interface.description }}
  </blockquote>
  <h2>Implementations</h2>
  <ul class='implementations'>
    {% for implementation in page.interface.implementations %}<li>{{ implementation }}</a></li>{% endfor %}
  </ul>
  {{ content }}
</article>
